*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
    color:#222;
    transition:0.3s;
}

header{
    background:#0f9d58;
    color:white;
    text-align:center;
    padding:30px;
}

header button{
    margin-top:15px;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    padding:30px;
}

.card{
    background:white;
    width:250px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card span{
    display:block;
    margin-top:10px;
    font-size:2rem;
    color:#0f9d58;
}

.grafico{
    width:80%;
    margin:auto;
    padding:40px;
}

.simulador{
    width:80%;
    margin:auto;
    padding:40px;
}

.simulador input{
    width:100%;
    padding:10px;
    margin:15px 0;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    background:#0f9d58;
    color:white;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

#resultado{
    margin-top:20px;
    font-size:1.2rem;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:20px;
    background:#222;
    color:white;
}

.dark{
    background:#111;
    color:white;
}

.dark .card{
    background:#1f1f1f;
    color:white;
}